<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>

  <!-- navbar -->
  {{ partial "navbar.html" . }}

  <!--  container -->
  <div class="container-fluid">
    <div class="row h-100">
      {{ partial "sidebar.html" . }}
        <div class="col-sm-12 col-lg-10 mb-3 mt-3">

            {{ .Content }}
            
        </div>
    </div>
  </div>
 

  <!-- footer -->
  {{ partial "footer.html" . }}

  <!-- js libs -->
  {{ partial "js-libs.html" . }}

  
</body>

</html>
